@page
@model WebApplication4.Pages.Games.BuyModel


<h1>Buy Game</h1>


<form method="post">
    <div class="form-group">
        <label for="CartId">CartId:</label>
        <input type="text" class="form-control" id="CartId" name="CartId">
    </div>
    <button type="submit" class="btn btn-primary">Buy Item</button>
</form>
