@page
@model WebApplication4.Pages.Games.GameNotFound

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Cart Not Found Sorry</p>
    <a asp-page = "/Index">Back</a>
</div>
</body>
</html>