@page
@model WebApplication4.Pages.Games.GameAddModel


<h1>Add Game Item</h1>


<form method="post">
    @* <input type="hidden" asp-for="id" /> *@
    <div class="form-group">
        <label for="SerialNumber">Serial Number:</label>
        <input type="text" class="form-control" id="SerialNumber" name="serialNumber">
    </div>

    <button type="submit" class="btn btn-primary">Add Item</button>
</form>
